.custom-margin {
  margin-left: 10rem; /* You can adjust the value based on your requirement */
}
.bgfooter {
  /* background: #231516 */
  background: linear-gradient(to right, #231516, #3F3825, #EF8F2D);
  /* Add other styling properties for your footer */
}
.footer span {
  font-family: 'Inter', sans-serif;
  font-weight: 600; /* 600 corresponds to semibold for Inter font */
  color: ;
}

.bghead {
  /* background: #231516 */
  background-color: #110915;
  /* Add other styling properties for your footer */
}
